<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>

<body>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="enter name">
        <input type="email" name="email" placeholder="enter email">
        <input type="password" name="password" placeholder="enter password">
        <input type="number" name="contact" placeholder="enter contact no.">
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <input type="submit" value="signup">
    </form>
</body>

</html>